html, body {
  background: #000 !important;
  margin: 0;
  padding: 0;
  height: 100%;
}

#stage {
  white-space: pre;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Source Code Pro', monospace;
  font-size: 10px;
  line-height: 1;
  z-index: -1;
  user-select: none;
  pointer-events: none;
  color: #fff;
}
